/* CSS Styles */
/* Placeholder Box CSS Delete Later */
* {
  border: 1px solid red;
}

/* Default Font */
body {
  font-family: arial, sans-serif;
}
/* Header and Footer Background Color */
header {
  background-color: #1f2937;
}

/* Header Navigation Bar */
li {
  display: inline-block;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 150px;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  font-size: 18px;
  color: #e5e7eb;
}
/* Header Main Text */
.page-catch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

.page-catch h1 {
  font-size: 48px;
  font-weight: 800; /* Extra Bold */
  color: #f9faf8;
}

.page-catch p {
  font-size: 18px;
  color: #e5e7eb;
}

.page-catch a {
  color: #f9faf8;
  background-color: #3882f6;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.page-catch-two img {
  height: 200px;
  width: auto;
}
/* Footer Styling */
