/* CSS Styles */
/* Default Font */
body {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

/* Header and Footer Background Color */
.top-gradient {
  background-image: linear-gradient(
    #f1e6b2,
    #e06287,
    #7474c1
  ); /*These are the official EXID colors */
}

/* Header Navigation Bar */
/* The Following Makes the List Horizontal for Logo and Links */
.nav-bar li {
  display: inline-block;
}

/* Nav Bar Flex Box and Spacing */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10% 20px 10%;
}

/* Header Logo and Links Text, Color Styling */
.header-logo {
  /* font-size: 24px;
  font-weight: 600;
  color: #1c1c1c; This text is not being used */
  margin-right: auto;
}

.header-logo img {
  height: 40px;
  width: auto;
}

.header-links {
  font-size: 18px;
  color: #1c1c1c;
}

/* Header Links Visited and Hover States */
.header-links a {
  text-decoration: none;
}

.header-links a:link {
  color: #1c1c1c;
}

.header-links a:visited {
  color: inherit;
}

.header-links a:hover {
  text-decoration: underline;
}

/* Spacing Between Header Links*/
.header-links a {
  margin-left: 20px;
}

/* Header Main Text Flex Box and Overall Position */
.page-catch {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px;
  padding: 100px 10% 100px 10%;
}

/* Styling for First Text Blob */
.page-catch-one {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.page-catch-one h1 {
  font-size: 48px;
  font-weight: 800; /* Extra Bold */
  line-height: 1.3;
  color: #f9faf8;
}

.page-catch-one p {
  font-size: 18px;
  line-height: 1.1;
  color: #e5e7eb;
}

/* Sign Up Button Styling */
.page-catch-one a {
  color: #f9faf8;
  background-color: #1c1c1c;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 9px 23px;
  width: 108px;
}

.page-catch-one a {
  text-decoration: none;
}

.page-catch-one a:visited {
  color: #f9faf8;
}

.page-catch-one a:hover {
  text-decoration: underline;
}

/* Styling for First Image */
.page-catch-two img {
  height: 275px;
  width: auto;
}
/* Information Area Styling */
.information-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9faf8;
  padding: 60px 10% 80px 10%;
  gap: 60px;
}

.information-wrapper h1 {
  font-size: 36px;
  font-weight: 800; /* Extra Bold */
  color: #1c1c1c;
}

/* Horizontal Images Flexbox and Position */
.information-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.information-images img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 5px solid #1c1c1c;
  border-radius: 16px;
}

.solji {
  object-position: 0 90%;
}

.le {
  object-position: 0 0;
}

.jeonghwa {
  object-position: 0 10%;
}

.information-images p {
  color: #1c1c1c;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
  margin-top: 5px;
}
/* Quote Area Styling */
.quote-area-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 10% 140px 10%;
  background-color: #e5e7eb;
}

.quote-area-wrapper q {
  color: #1c1c1c;
  font-size: 36px;
  font-weight: 300; /* Light */
  font-style: italic;
  line-height: 1.3;
}

.quote-area-wrapper span {
  font-weight: 800; /* Extra Bold */
  margin-left: 13%;
}
/*Video Area Styling */
.video-area-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 70px 10% 70px 10%;
  background-color: black;
}
/* Call to Action Styling */
.call-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.call-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
  color: #f9faf8;
  background-color: #1c1c1c;
  border-radius: 8px;
  padding: 55px 10% 55px 10%;
}

.call-text {
  color: #f9faf8;
}

.call-text h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}

.call-text p {
  font-size: 18px;
  font-weight: 300;
}

.call-button a {
  color: #f9faf8;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  border-radius: 8px;
  border: 2px solid #f9faf8;
  padding: 9px 23px 9px 23px;
  width: 108px;
}

.call-button a {
  text-decoration: none;
}

.call-button a:visited {
  color: #f9faf8;
}

.call-button a:hover {
  text-decoration: underline;
}
/* Footer Styling */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1c1c1c;
  color: #f9faf8;
  padding: 42px;
}
